body
{
    height:1000px;
    margin:0;
    background-color:#000;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:sans-serif;
}
.content
{
    flex-basis:400px;
    height:680px;
    color:#fff;
    background-color:#222;
    text-align:center;
    border-radius:10px;
}
.content > .pic
{
    width:176px;
    height:176px;
    background-image:url(./images/avatar-jessica.jpeg);
    border-radius:88px;
    scale:0.5;
    position:relative;
    right:-108px;
    top:40px;
}
.content > .title
{
    margin-bottom:30px;
}
.uc
{
    color:#8ccf11;
    font-weight:bold;
    font-size:18px;
    margin-bottom:30px;
}
.io
{
    color:#f5f5f5;
}
.content .links ul
{
    height:250px;
    list-style:none;
    display:grid;
    grid-template-columns:85%;
    grid-template-rows:repeat(5, 1fr);
    gap:20px;
    justify-content:space-around;
    padding:0;
    margin:0;
}
.content > .links > ul > li
{
    background-color:#434242;
    padding:12px 0;
    border-radius:10px;
    font-weight:bold;
}
.content > .links > ul > li:hover
{
    color:#000;
    background-color:#8ccf11;
    cursor:pointer;
}
.content > .title > h1
{
    animation:sq 2s linear 2s infinite;
}
@keyframes sq
{
    0%{
        color:#0B60B0;
    }
    25%{
        color:#910A67;
    }
    50%{
        color:#00ffff;
        
    }
    75%{
        color:#f00;
    }
    100%{
        color:#3C0753;
    }
}
@media screen and (max-width:600px)
{
    .content
    {
        flex-basis:320px;
    }
    .content > .pic
    {
        position:relative;
        right:-70px;
    }
}